@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ALL Students related to a course";
}
<div style="display: flex;justify-content:space-evenly; align-items:center;width:100% ">
    <h1> ALL Students with course</h1>

</div>

@model List<TP4.Models.Student>
<div>
    <hr />
    <div class="container-fluid">
        @{

            foreach (Student s in Model)
            {
                <div class="col mb-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title ">@s.first_name @s.last_name</h5>
                            <p class="card-text">University : @s.university</p>
                            <p class="card-text">Phone number : @s.phone_number</p>
                            <p class="card-text">Time : @s.timestamp</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

