
@model List<TP3.Models.Person>

@{
    ViewData["Title"] = "ALL PERSONS";
}

<div style="display: flex;justify-content:space-evenly; align-items:center;width:100% ">
    <h1> ALL Persons</h1>
 
</div>

<div>
    <hr />
    <div class="container-fluid">
        @{
        
        foreach (Person p in Model)
        {
            <div class="col mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@p.FirstName @p.LastName</h5>
                        <p>Email : @p.Email</p>
                        <p>Country : @p.Country</p>
                        <p>Id : @p.Id</p>

                    </div>
                </div>
            </div>
        }
       
    }
    </div>
</div>
