@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model TP3.Models.Person

}
@{
    ViewData["Title"] = "ALL PERSONS";
}



@{
    TP3.Models.Person p = Model;
    if (Model == null)
    {

        <div style="display: flex;justify-content:space-evenly; align-items:center;width:100% ">
            <h1>
                Cet ID est
                invalide
            </h1>
          
        </div>
    }
    else
    {
        <div style="display: flex;justify-content:space-evenly; align-items:center;width:100% ">

            <h1>Person number @Model.Id</h1>
           
        </div>
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                @p.Id
            </dd>
            <dt class="col-sm-2">
                first Name
            </dt>
            <dd class="col-sm-10">
                @p.FirstName
            </dd>
            <dt class="col-sm-2">
                last_name
            </dt>
            <dd class="col-sm-10">
                @p.LastName
            </dd>
            <dt class="col-sm-2">
                email
            </dt>
            <dd class="col-sm-10">
                @p.Email
            </dd>

            <dt class="col-sm-2">
                country
            </dt>
            <dd class="col-sm-10">
                @p.Country
            </dd>
        </dl>

    }
}